@model IEnumerable<AuditingSystem.Entities.AuditPlan.DraftAuditPlanList>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IUserContext UserContext

@{
    ViewData["Title"] = "Draft Audit Plan List";
}
@{
    var userPermissionsJson = "";
    var userPermissions = new List<RolesPermissions>();
    var httpContext = ViewContext.HttpContext;
    if (httpContext != null)
    {
        userPermissionsJson = httpContext.Session.GetString("UserPermissions");
        userPermissions = JsonConvert.DeserializeObject<List<RolesPermissions>>(userPermissionsJson, new JsonSerializerSettings
                {
                    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                });
    }
}

<style>
    .colorLabel {
        background-color: #9fb0c6 !important
    }


    tr th {
        text-align: center;
        font-weight: 900 !important;
        text-transform: uppercase;
    }
</style>
<style>
    .toggle.ios, .toggle-on.ios, .toggle-off.ios {
        border-radius: 20px;
    }

        .toggle.ios .toggle-handle {
            border-radius: 20px;
        }

    .cardbox {
        cursor: pointer;
        box-shadow: inset 4px 1px 13px 0px;
        border-radius: 10px;
    }

    .modal {
        display: none;
        position: fixed;
        /* z-index: 99; */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 2% auto;
        padding: 20px;
        border: 1px solid #888;
        /* width: 80%; */
    }

    .cardDesc {
        display: none;
    }

    .close, .closeDesc {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        direction: rtl;
    }


    .scrollable-table-container {
        max-height: 400px;
        overflow-y: auto;
    }

    th {
        text-align: center;
    }

    table {
        border: 2px solid #b2b2b2 !important
    }
</style>


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div style="    margin-bottom: 50px;" class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Final Audit Plan Management View <b style="text-transform: uppercase;">For the year @ViewBag.getYear</b></h4>
                    </div>
                    <div class="col-md-6 text-end">
                    </div>
                </div>



                @if (Model != null)
                {
                    <div class="table-responsive scrollable-table-container" style="margin:0;padding-left: 0;" id="tableContainer">

                            <table style="width: 100%" id="tableList" class="tableList table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th rowspan="3">Audit Area</th>
                                        <th rowspan="3">Scope</th>
                                        
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                @foreach (var departmentGroup in Model.GroupBy(x => x.DraftAuditPlan.Department.Name))
                                {
                                    <tr id="tr">
                                        <td>@departmentGroup.Key</td>
                                        <td>
                                            <ol>
                                                @foreach (var item in departmentGroup)
                                                {
                                                    <li style="list-style: auto;">@item.DraftAuditPlan.Function.Name</li>
                                                }
                                            </ol>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                }
                <div class="float-end">
                    <button id="btnCancel" class="btn btn-secondary mt-2">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts{
    <script>
       

        $(document).ready(function () {
            $(document).on("click", "#btnCancel", function (e) {
                e.preventDefault();
                window.location.href = '/Year/Index';
            });

        });
    </script>
}
