@model Role
@{
    ViewData["Title"] = "Role View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/addeditstyle.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.0.4/css/bootstrap5-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.0.4/js/bootstrap5-toggle.ecmas.min.js"></script>
 
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">View Role</h4>
                <form class="forms-sample" id="EditForm">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input disabled type="text" class="form-control" id="Name" name="Name" asp-for="Name" placeholder="Role Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea disabled asp-for="Description" type="text" class="form-control" id="Description" placeholder="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Permissions Management View</h4>
                        </div>
                        <div class="col-md-6 text-end">
                            
                        </div>
                    </div>
                    <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
                        <ul class="navbar-nav mr-lg-2" style="width: 100%; margin-top: 5px;" id="SearchList">
                            <li class="nav-item nav-search d-none d-lg-block">
                                <div class="input-group">
                                    <input id="Search" type="text" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search">
                                </div>
                            </li>
                        </ul>
                    </div>
                   <div class="table-responsive">
                        <table id="tableList" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th><center>Name</center></th>
                                    <th><center>View</center></th>
                                    <th><center>Add</center></th>
                                    <th><center>Edit</center></th>
                                    <th><center>Delete</center></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rolePermission in ViewBag.permissions)
                                {
                                    <tr>
                                        <input type="hidden" value="@rolePermission?.Id" />
                                        <td>
                                            <center>
                                                @rolePermission?.Permission.Name
                                            </center>
                                        </td>
                                        <td>
                                            @{
                                                var isChecked = "";
                                                if (rolePermission.View == true)
                                                {
                                                    isChecked = "checked";
                                                }
                                            }
                                            <center>
                                                <input disabled @isChecked title="View" data-size="small" id="View" name="View" class="View" type="checkbox" data-toggle="toggle" data-style="ios" data-on="Yes" data-off="No">
                                            </center>
                                        </td>
                                        <td>
                                            @{
                                                isChecked = "";
                                                if (rolePermission.Add == true)
                                                {
                                                    isChecked = "checked";
                                                }
                                            }
                                            <center>
                                                <input disabled @isChecked title="Add" data-size="small" id="Add" name="Add" class="Add" type="checkbox" data-toggle="toggle" data-style="ios" data-on="Yes" data-off="No">
                                            </center>
                                        </td>
                                        <td>
                                            @{
                                                isChecked = "";
                                                if (rolePermission.Edit == true)
                                                {
                                                    isChecked = "checked";
                                                }
                                            }
                                            <center>
                                                <input disabled @isChecked title="Edit" data-size="small" id="Edit" name="Edit" class="Edit" type="checkbox" data-toggle="toggle" data-style="ios" data-on="Yes" data-off="No">
                                            </center>
                                        </td>
                                        <td>
                                            @{
                                                isChecked = "";
                                                if (rolePermission.Delete == true)
                                                {
                                                    isChecked = "checked";
                                                }
                                            }
                                            <center>
                                                <input disabled @isChecked title="Delete" data-size="small" id="Delete" name="Delete" class="Delete" type="checkbox" data-toggle="toggle" data-style="ios" data-on="Yes" data-off="No">
                                            </center>
                                        </td>
                                        <td>
                                            @{
                                                isChecked = "";
                                                if (rolePermission.ExportToPDF == true)
                                                {
                                                    isChecked = "checked";
                                                }
                                            }
                                            <center>
                                                <input disabled @isChecked title="Export to PDF" data-size="small" id="ExporttoPDF" name="ExporttoPDF" class="ExporttoPDF" type="checkbox" data-toggle="toggle" data-style="ios" data-on="Yes" data-off="No">
                                            </center>
                                        </td>
                                        <td>
                                            @{
                                                isChecked = "";
                                                if (rolePermission.ExportToWord == true)
                                                {
                                                    isChecked = "checked";
                                                }
                                            }
                                            <center>
                                                <input disabled @isChecked title="Export to Word" data-size="small" id="ExporttoWord" name="ExporttoWord" class="ExporttoWord" type="checkbox" data-toggle="toggle" data-style="ios" data-on="Yes" data-off="No">
                                            </center>
                                        </td>
                                        <td>
                                            @{
                                                isChecked = "";
                                                if (rolePermission.ExportToExcel == true)
                                                {
                                                    isChecked = "checked";
                                                }
                                            }
                                            <center>
                                                <input disabled @isChecked title="Export to Excel" data-size="small" id="ExporttoExcel" name="ExporttoExcel" class="ExporttoExcel" type="checkbox" data-toggle="toggle" data-style="ios" data-on="Yes" data-off="No">
                                            </center>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="float-end mt-2">
                        <button id="btnCancel" class="btn btn-secondary">Cancel</button>
                        <button disabled id="saveButton" type="button" class="btn btn-primary me-2">Save Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Description').summernote();
            $("#EditForm").validate({
                rules: {
                    Name: {
                        required: true
                    }
                },
                messages: {
                    Name: {
                        required: "The Name field is required"
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is("select")) {
                        error.insertAfter(element.siblings("span"));
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $(document).on("click", "#btnCancel", function (e) {
                e.preventDefault();
                window.location.href = '/Role/Index';
            });

            $("#saveButton").click(function () {
                var htmlDescription = $('#Description').summernote('code');

                if ($("#EditForm").valid()) {
                    var formData = {
                        Role: {
                            Name: $("#Name").val(),
                            Description: htmlDescription
                        },
                        Permissions: []
                    };

                    $("#tableList tbody tr").each(function () {
                        var permissionId = $(this).find("input[type=hidden]").val();
                        var viewPermission = $(this).find(".View").prop("checked");
                        var addPermission = $(this).find(".Add").prop("checked");
                        var editPermission = $(this).find(".Edit").prop("checked");
                        var deletePermission = $(this).find(".Delete").prop("checked");

                        var permissionData = {
                            Id: permissionId,
                            View: viewPermission,
                            Add: addPermission,
                            Edit: editPermission,
                            Delete: deletePermission
                        };

                        formData.Permissions.push(permissionData);
                    });
                    $.ajax({
                        url: "/api/roles/@Model.Id",
                        method: "PUT",
                        dataType: 'json',
                        contentType: "application/json",
                        data: JSON.stringify(formData),
                        success: function (response) {
                            alert("The Role is modified successfully.");
                            window.location.href = '/Role/Index';
                        },
                        error: function (error) {
                            if (error.responseJSON && error.responseJSON.errors) {
                                $.each(error.responseJSON.errors, function (key, value) {
                                    $("#" + key).siblings(".text-danger").text(value);
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
}
