@model Tasks
@{
    ViewData["Title"] = "Task Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/addeditstyle.css" rel="stylesheet" />
 
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New Task</h4>
                <form class="forms-sample" id="AddForm">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Code">Code</label>
                                <input type="text" class="form-control" id="Code" name="Code" placeholder="Industry Code">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Objective">Objective</label>
                                @Html.DropDownList("ObjectiveId", null, "-- Select One --", new { @class = "form-control", @id = "Objective" , @name="ObjectiveId"})
                                <span asp-validation-for="ObjectiveId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Task Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <textarea type="text" class="form-control" id="Description" name="Description" placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>

                   <div class="float-end">
                        <button id="btnCancel" class="btn btn-secondary">Cancel</button>
                        <button id="saveButton" type="button" class="btn btn-primary me-2">Save Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 

    <script>
        $(document).ready(function () {
            $('#Description').summernote();
            $("#AddForm").validate({
                rules: {
                    ObjectiveId: {
                        required: true
                    },
                    Name: {
                        required: true
                    },
                    Code: {
                        required: true
                    }
                },
                messages: {
                    ObjectiveId: {
                        required: "The Objective field is required"
                    },
                    Name: {
                        required: "The Name field is required"
                    },
                    Code: {
                        required: "The Code field is required"
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is("select") || element.is("textarea")) {
                        error.insertAfter(element.siblings("span"));
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $(document).on("click", "#btnCancel", function (e) {
                e.preventDefault();
                window.location.href = '/Task/Index';
            });

            $("#saveButton").click(function () {
                var htmlDescription = $('#Description').summernote('code');

                if ($("#AddForm").valid()) {
                    var formData = {
                        Name: $("#Name").val(),
                        Code: $("#Code").val(),
                        ObjectiveId: $("#Objective").val(),
                        Description: htmlDescription
                    };

                    swal({
                        title: "Saving...",
                        text: "Please wait.",
                        allowOutsideClick: false,
                        showConfirmButton: false, // إخفاء زر التأكيد
                        showCancelButton: false, // إخفاء زر الإلغاء
                        showCloseButton: false, // إخفاء زر الإغلاق
                        onBeforeOpen: () => {
                            swal.showLoading(); // إضافة شريط التقدم
                        }
                    });

                    setTimeout(function () {
                        $.ajax({
                            url: "/api/tasks",
                            method: "POST",
                            dataType: 'json',
                            contentType: "application/json",
                            data: JSON.stringify(formData),
                            success: function (response) {
                                swal.close(); // إغلاق SweetAlert بعد النجاح
                                swal({
                                    title: "Success",
                                    text: "Your data has been saved",
                                    icon: "success",
                                    position: "top-end", // تحديد الوضعية في أعلى الزاوية اليمنى
                                    timer: 2000, // فترة الزمن بالميلي ثانية (هنا 2000 ميلي ثانية = 2 ثانية)
                                    allowOutsideClick: false,
                                    showConfirmButton: false, // إخفاء زر التأكيد
                                    showCancelButton: false, // إخفاء زر الإلغاء
                                    showCloseButton: false // إخفاء زر الإغلاق
                                }).then(function () {
                                    window.location.href = '/Task/Index';
                                });
                            },
                            error: function (error) {
                                if (error.responseJSON && error.responseJSON.errors) {
                                    swal({
                                        title: "Opps...",
                                        text: "Something went wrong!",
                                        icon: "error",
                                        position: "top-end", // تحديد الوضعية في أعلى الزاوية اليمنى
                                        timer: 2000, // فترة الزمن بالميلي ثانية (هنا 2000 ميلي ثانية = 2 ثانية)
                                        allowOutsideClick: false,
                                        showConfirmButton: false, // إخفاء زر التأكيد
                                        showCancelButton: false, // إخفاء زر الإلغاء
                                        showCloseButton: false // إخفاء زر الإغلاق
                                    });
                                }
                            }
                        });
                    }, 2000);
                }
            });
        });
    </script>
}
